.newProfile {
  &__wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;

  }

  &__content {
    margin: 0 auto;
    padding: 0 1rem;

    &__title {
      font-size: fontS(big);
      font-weight: 400;
      padding-bottom: 1rem;
    }

    &__description {
      font-size: fontS(normal);
      color: colors(text-dark);
      padding-bottom: 1rem;
    }
  }

  &__form {
    &__content {
      display: flex;
      gap: 1rem;
      align-items: center;

      border-top: 1px solid colors(bg-input-dark);
      border-bottom: 1px solid colors(bg-input-dark);
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
    }

    &__buttons {
      display: flex;
      gap: 1rem;

      &__cancel {
        padding: 1rem;
        color: colors(text-dark);
        background-color: transparent;
        border: 1px solid colors(text-dark);

        &:hover {
          color: colors(text);
          border-color: colors(text);
        }
      }
    }
  }

}

@include media(tablet) {
  .newProfile {
    &__content {
      padding: 0;
    }
  }
}