.featured {
  display: flex;
  background-size: cover;
  background-position: center;
  align-items: center;
  position: relative;
  height: 100vh;
  &::after, &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
  }
  &::after {
    background: linear-gradient(to top, #111 10%, transparent 90%);
  }

  &__content {
    width: 100%;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.25rem;
  }

  &__title {
    font-size: 2rem;
    font-weight: bold;
  }

  &__info {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__details {
    display: none;
  }
  &__synopsis {
    display: none;
  }

  &__btns{
   display: flex; 
   gap: 1rem;
  }
  
  &__genres {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.95);
    & strong {
      display: none;
    }
    & span {
      font-size: .875rem;
      position: relative;
    }
    & span:not(:last-child)::before {
      content: '';
      border-radius: 50%;
      background-color: colors(contrast);
      display: block;
      position: absolute;
      width: 5px;
      height: 5px;
      right: -11px;
      top: 6px;
    }
  }
}

.moreInfo__btn {
  display: flex;
  align-items: center;
  gap: .5rem;

  background-color: colors(text-darkest);
  border-radius: 5px;
  color: colors(text);
  font-size: 1rem;
  font-weight: bold;
  padding: .5rem 2.5rem .5rem 2rem;
  text-decoration: none;
  transition: opacity 200ms ease-in-out;
  &:hover {
    opacity: .7;
  }
}

@include media(normal) {
  .featured{
    &::before {
      background: linear-gradient(to right, #111 30%, transparent 70%);
    }
    &__content {
      align-items: flex-start;
      padding-left: 2rem;
      padding-right: 0;
      padding-top: 30px;
    }
    &__title {
      font-size: 3.75rem;
      font-weight: bold;
    }  
    &__description {
      font-size: 1.125rem;
      font-weight: bold;
      margin-top: 1rem;
    }
    &__details {
      display: block;
    }
    &__points {
      color: colors(points);
    }
    &__points,
    &__year,
    &__seasons {
      display: inline-block;
      margin-right: 1rem;
    }
  
    &__synopsis {
      display: block;
      color: rgba(255, 255, 255, 0.95);
      font-weight: 400;
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: 1.25rem;
      text-shadow: 2px 2px 4px rgba(0,0,0, 45%);
      max-width: 40%;
    }
    &__info {
      flex-direction: column;
      align-items: flex-start;
    }

    &__genres {
      & span {
        font-size: 1.125rem;
        font-weight: bold;
      }
      & span:not(:last-child)::before {
        content: ',';
        background-color: colors(text);
        width: 0px;
        right: -3px;
        top: 0;
      }
      & strong {
        display: block;
      }
    }
  }

}