$colors: (
  "text": #fff,
  "text-light": #999999,
  "text-dark": #808080,
  "text-darkest": #333,
  "text-black": #000,
  "error": #e87c03,
  "contrast": #b9090b,
  "primary": #e50914,
  "points": #46d369,
  "bg-main": #111,
  "bg-light": #fff,
  "bg-lighter": #141414,
  "bg-transparent-09": rgba(0,0,0,0.9),
  "bg-transparent-07": rgba(0,0,0,0.7),
  "bg-linear-bot": linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(20,20,20,0)),
  "bg-linear-top": linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(20,20,20,0)),
  "bg-dark": #000,
  "bg-input-dark": #454545,
);

$font-sizes: (
  "small": .875rem,
  "normal": 1rem,
  "medium": 1.125rem,
  "x-medium": 1.4rem,
  "large": 1.625rem,
  "x-large": 1.75rem,
  "xx-large": 2.5rem,
  "big": 3.125rem
);

$breakpoins: (
  "phone": "320px",
  "tablet": "540px",
  "medium": "768px",
  "normal": "1024px",
  "large": "1200px"
);

$transition: (
  "default": "all 200ms ease-in-out",
)
