.browse {
  &__details {
    position: absolute;
    z-index: 2;
    padding-top: 5rem;
    gap: 2rem;
  }
  &__title {
    padding-left: 2rem;
    font-size: fontS(x-large);
    color: colors(text);
  }
}