.menuUser {
  &__profile {
    gap: .5rem;
    cursor: pointer;

    &_btn svg {
      display: none;
      transition: transform 300ms ease;
    }

    &:hover,
    &.active {
      .menuUser__profile_btn svg {
        transform: rotate(180deg);
      }

      .menuProfile {
        visibility: visible;
        opacity: 1;
      }
    }

    &.closed {
      .menuProfile {
        visibility: hidden;
        opacity: 0;
      }
    }

  }
  &__icon img {
    border-radius: 5px;
    width: 32px;
    height: 32px;
  }
}

.menuProfile {
  background-color: colors(bg-transparent-07);
  border: 1px solid colors(text-dark);
  position: absolute;
  padding: 1rem .8rem;
  height: auto;
  width: 179px;
  top: 71px;
  right: 2rem;
  font-size: .875rem;
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease;


  &__caret {
    font-size: 1.5rem;
    top: -20px;
    right: 27px;
    position: absolute;
  }

  &__account {
    gap: .5rem;
    padding-bottom: .5rem;

    &__img {
      width: 32px;
      height: 32px;
      border-radius: 5px;
    }

    &:hover {
      cursor: pointer;

      .menuProfile__account__name {
        text-decoration: underline;
      }
    }
  }

  &__accountManage button {
    background: none;
    border: none;
    color: colors(text);
    cursor: pointer;
    padding: 1rem 0;

    &::after {
      content: '';
      display: block;
      width: 100%;
      position: absolute;
      left: 0;
      padding-top: 1rem;
      border-bottom: 1px solid colors(bg-lighter);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__manage {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-weight: 700;

    &__link {
      color: colors(text);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@include media(tablet){
  .menuUser__profile_btn {
    display: block;
  }
}